<mat-toolbar>
    <span style="margin-left: auto; margin-right: auto;"><img src="../../../assets/images/logoMS.jpg"
            style="height: 72px;"></span>
</mat-toolbar>
<div class="videoWrapper">
    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="800" height="443" type="text/html" class="video" allowfullscreen src="https://www.youtube.com/embed/QFlVNtGJVDU?controls=0&autoplay=1&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=50&end=56&modestbranding=1&mute=1&showinfo=0&loop=1">
    </iframe>
    <div class="text">
        <img src="../../../assets/images/aoeLOGO.png" alt="">
        <h1>
            HENRY STIVEN SALAZAR SERRANO
        </h1>
    </div>
</div>